<h1>{{title}}</h1>

<table>
  <tr *ngFor="let todo of todoList; index as i">
    <td >   
      {{i + 1 }}. &nbsp; {{todo.task}}
    </td>
    <td>&nbsp; &nbsp; </td>
    <td>&nbsp; &nbsp; </td>
    <td>
      <button *ngIf="!todo.completed" 
      (click)= "completeTask(i)">
      Complete
    </button>&nbsp;&nbsp;
    <s class="strikeThrough" *ngIf="todo.completed; else notDone">
      Task: {{ todo.task }}
    </s>
    </td>
    <td>&nbsp; &nbsp; </td>
    <td>&nbsp; &nbsp; </td>
    <td>
      <button (click)="removeTask(i)">Delete</button>
    </td>
  </tr>
</table>


<form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
  <br>

<label for="task">Add Task &nbsp;</label>
 <input name="task" id="task" ngModel />
 <br>
 <br>
 <button>Add Task</button>
</form>
